.root {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 85%;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 6em;
}

.marked {
    color: var(--text-marked);
}

.brief {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.description {
    width: 40%;
    padding: 20px;
    border-radius: 50px;
    background: var(--card);
}

.description p {
    font-family: Montserrat medium, sans-serif;
    font-size: 1.8em;
    line-height: 130%;
    min-width: 350px;
}

.title {
    font-size: 1.5em;
    line-height: 130%;
}

.carousel {
    width: 55%;
    height: 650px;
    border-radius: 50px;
    overflow: hidden;
    min-width: 400px;
}

.more {
    margin-top: 300px;
    font-size: 5.25em;
    font-weight: 900;
}
