.root {
    margin: 300px 0 0 100px;
}

.bgImg {
    position: absolute;
    width: 80%;
    height: 100%;
    background: url("/images/backgrounds/MainBL.svg") no-repeat 400px;
    filter: blur(50px);
}

.text {
    z-index: 999;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 7em;
}

.marked {
    color: var(--text-marked);
}

.brief {
    margin-top: 75px;
    display: flex;
}

.description {
    z-index: 2;
    margin: 0;
    width: 44%;
    font-family: Montserrat medium, sans-serif;
    font-size: 1.8em;
}

.carousel {
    z-index: 2;
    margin-left: 7%;
    width: 550px;
    height: 675px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 30px 0 var(--shadow);
    -webkit-box-shadow: 0 0 30px 0 var(--shadow);
    -moz-box-shadow: 0 0 30px 0 var(--shadow);
}

.linkContainer {
    margin-top: 250px;
    display: flex;
    width: 100%;
    justify-content: center;
    transform: translateX(-3%);
}

.more {
    margin-top: 300px;
    font-size: 5.25em;
    font-weight: 900;
}
