.root {
    margin: 300px 0 0 100px;
}

.text {
    z-index: 999;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 7em;
}

.marked {
    color: var(--text-marked);
}

.brief {
    margin-top: 75px;
    display: flex;
}

.description {
    z-index: 2;
    margin: 0;
    width: 44%;
    font-family: Montserrat medium, sans-serif;
    font-size: 1.8em;
}

.carousel {
    z-index: 2;
    margin-left: 7%;
    width: 500px;
    height: 615px;
    border-radius: 25px;
    overflow: hidden;
}

.linkContainer {
    margin-top: 15%;
    display: flex;
    width: 100%;
    justify-content: center;
    transform: translateX(-3%);
}

.more {
    font-size: 5.25em;
    font-weight: 900;
}
