.root {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brief {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.release {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 6em;
    letter-spacing: 0.1em;
}

.marked {
    color: var(--text-marked);
}

.date {
    margin-top: 75px;
    font-family: Montserrat medium, sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.2em;
}

.intro {
    margin-top: 225px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.intro p {
    width: 43%;
    font-family: Montserrat medium, sans-serif;
    font-size: 2.1em;
}

.image {
    flex: 0.9;
}

.image img {
    max-width: 100%;
    max-height: 100%;
}

