.headerContainer {
    margin-top: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-family: Montserrat, sans-serif;
    font-size: 4em;
    font-weight: 900;
}