.root {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    font-size: 4em;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    color: var(--text);
}

.marked {
    color: var(--text-marked);
}

.hint {
    margin-top: 25%;
    width: 47vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.hintTitle {
    font-family: Montserrat medium, sans-serif;
    font-size: 1.75em;
    color: var(--text-subtitle);
}
