.root {
    margin: 250px 0 0 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.sign {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 3.75em;
    color: var(--text-marked);
 }

.text {
    font-family: Montserrat medium, sans-serif;
    font-size: 2.25em;
    width: 65%;
}

.icons {
    margin: 125px 0 0 0;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon {
    width: 140px;
    height: auto;
}

.iconLake {
    width: 160px;
    height: auto;
}

.more {
    margin-top: 300px;
    font-size: 5.25em;
    font-weight: 900;
}
