.section {
    margin-top: 150px;
    width: 100%;
}

.sectionTitle {
    margin-left: 100px;
    font-weight: 900;
    font-size: 7em;
    color: var(--text);
}

.sectionContent {
    margin-left: 100px;
    width: 73%;
    font-family: Montserrat medium, sans-serif;
    font-size: 1.875em;
    color: var(--text);
}