.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: var(--text);
}


