
.link {
    text-decoration: none;
    color: var(--nav-link);
}

.link::after {
    content: '';
    display: block;
    width: 100%;
    height: var(--height-after);
    background: #00BC71;
}

.link:hover::after {
    width: 0;
}