.root {
    margin: 150px 0 0 100px;
}

.release {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 7em;
}

.date {
    margin: 25px 0 0 0;
    font-family: Montserrat medium, sans-serif;
    font-size: 2.25em;
    letter-spacing: 0.2em;
    color: var(--text-marked);
}

.linkContainer {
    margin-top: 250px;
    display: flex;
    width: 100%;
    justify-content: center;
    transform: translateX(-3%);
}

.more {
    font-size: 5.25em;
    font-weight: 900;
}