.general {
    margin: 150px 0 0 0;
}

.generalTextContainer {
    width: 46%;
}

.generalText {
    font-family: Montserrat medium, sans-serif;
    font-size: 1.875em;
}

.generalTitle {
    font-weight: bold;
    font-size: 5em;
}

.generalBlock {
    display: flex;
}

.clippedImg {
    margin-top: -13%;
    width: 800px;
    height: 686px;
    fill: url(#paint1_image);
}

.seeMoreLink {
    margin-top: 15%;
    width: 235px;
    font-size: 2.5em;
    font-weight: 600;
}

.marked {
    color: var(--text-marked);
}
