.card {
    position: relative;
    margin: 2.5% 0;
    width: 670px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--background);
    box-shadow: 0 0 20px 1px var(--shadow);
    border-radius: 50px;
    overflow: hidden;
}

.rightBackground {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rightBackgroundImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleContainer {
    position: absolute;
}

.title {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 3.75em;
    font-weight: bold;
    color: #FFFFFF;
}

.leftContent {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.params {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paramSection {
    margin-top: 12%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.paramTitle {
    margin: 5px;
    color: var(--text-subtitle);
    font-family: Montserrat medium, sans-serif;
    font-size: 1.25em;
}

.paramValue {
    margin: 0;
    font-family: Montserrat medium, sans-serif;
    font-size: 1.25em;
    font-weight: 600;
}

.seeMoreLink {
    margin-top: 15%;
    font-size: 1.75em;
    font-weight: 600;
}