.info-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    font-family: Montserrat, sans-serif;
}

.name {
    font-weight: bold;
    font-size: 54px;
    margin: 0;
}

.section {
    margin: 25px 0 0 0;
}

.title {
    font-size: 28px;
    font-family: Montserrat medium, sans-serif;
    color: #686868;
    margin: 0;
}

.number, .email {
    margin: 10px 0 0 0;
    font-size: 28px;
    font-family: Montserrat medium, sans-serif;
    color: #000000;
}
