.containerAbout {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat, sans-serif;
}

.general-info {
    margin: 0;
    height: 100vh;
    width: 89%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.animated-text {
    width: 55%;
    font-size: 48px;
    font-weight: bold;
    color: var(--text);
}

.forest {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--background-image);
}

.top {
    float: right;
    margin: 685px 200px 0 0;
}

.middle {
    float: left;
    margin: 355px 0 0 400px;
}

.down {
    float: left;
    margin: 870px 0 0 420px;
}