.containerContact {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat, sans-serif;
}

.grtng {
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slogan {
    font-family: Montserrat, sans-serif;
    font-size: 96px;
    font-weight: 900;
    color: var(--text);
}

.contactContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageContent {
    margin-top: 8%;
}

.socialMediaSection {
    margin-top: 7%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subslogan {
    font-family: Montserrat, sans-serif;
    font-size: 54px;
    font-weight: bold;
    color: var(--text);
}

.icons {
    margin-top: 2%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.iconLink {
    transition: .2s;
}

.iconLink:hover {
    transform: scale(1.1);
}

.icon {
    width: 72px;
    height: 72px;
}

.emailSection {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourEmail {
    font-family: Montserrat medium, sans-serif;
    font-size: 44px;
    color: var(--text);
}

.ourEmail::after {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    background: #00BC71;
}

.ourEmail:hover::after {
    width: 0;
}