.footer {
    margin-top: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-line, .second-line {
    margin-top: 5%;
    position: absolute;
    font-family: Montserrat medium, sans-serif;
    font-size: 32px;
    color: #FFFFFF;
}

.second-line {
    margin-top: 12%;
    font-size: 20px;
}
