.link {
    text-decoration: none;
}

.tag {
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border-radius: 50px;
    background: var(--quick-search);
}

.text {
    font-family: Montserrat medium, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.tag:hover {
    background: #00BC71;
}