.containerTrails {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Montserrat, sans-serif;
}

.containerСentered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchTrails {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchContainer {
    height: 29%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    padding: 0 50px 0 75px;
    width: 0;
    height: 32%;
    border-radius: 50px;
    background: var(--card);
    border: none;
    color: var(--text);
    font-size: 28px;
    font-family: Montserrat medium, sans-serif;
    transition: .2s;
}

.searchOutline {
    left: 25%;
    position: absolute;
    color: var(--text);
    cursor: pointer;
}

.divider {
    margin-top: 10%;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.results {
    margin-top: 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}