.containerTrails {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Montserrat, sans-serif;
}

.container-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-trails {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-container {
    height: 29%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    padding: 0 50px 0 75px;
    width: 0;
    height: 32%;
    border-radius: 50px;
    background: var(--card);
    border: none;
    color: var(--text);
    font-size: 28px;
    font-family: Montserrat medium, sans-serif;
    transition: .2s;
}

.search-outline {
    left: 25%;
    position: absolute;
    color: var(--text);
    cursor: pointer;
}

.parameters {
    height: 47%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.param-container-active {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--card);
    border-radius: 25px;
}

.btn-title {
    display: flex;
    align-items: center;
}

.btn-title p {
    font-family: Montserrat medium, sans-serif;
    font-size: 36px;
    color: var(--text);
}

.popUp-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
}

.params-list {
    width: 100%;
    height: 100%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list p {
    margin: 20px;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: var(--text);
}

.list p:hover {
    color: #00BC71;
    cursor: pointer;
}

.chevron {
    color: var(--text);
}

.chosen-params {
    margin-top: 25%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.chosen-params p {
    font-family: Montserrat, sans-serif;
    font-size: 54px;
    font-weight: bold;
    color: var(--text);
}

.marked {
    color: var(--text-marked);
}

.divider {
    margin-top: 10%;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.results {
    margin-top: 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}